#nosotros {
    background-color: $color4;
    overflow: hidden;
}

#menu {
    background-color: $color3;
    overflow: hidden;
}

#vinos {
    background-color: $color2;
    overflow: hidden;
}

#reservas {
    background-color: $color3;    ;
    overflow: hidden;
}

#contacto {
    background-color: $color4;
    overflow: hidden;
}

.cita-contenedor {
    background-color: $color2;
}